.purple__text {
    color: $main-color;
    font-family: none;
}

.text-lh54px {
    
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
}

.text-lh40px {
    
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}